*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.nav{
    background-color: rgb(237, 253, 93);
    color: rgb(247, 18, 18);
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}
.tital-bar{
    font-size: 2rem;
}
.nav div{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}
.nav a{
    color: inherit;
    text-decoration: none;
    display: flex;
    height: 100%;
    align-items: center;
    padding: .25rem;   
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.menu-link-{
  text-align: center;
  color: red;
}
.signuContainer input{
  display: block;
  margin: 10px;
}
.signuContainer button{
  cursor: pointer;
}
.Container{

    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: linear-gradient(135deg,#71b7eb, #9b59b6);
    
}
